<div>
    <div style="width: 500px;">
        <div style="width: 100%;" data-bind="foreach: bids">
            <!-- ko if: (
                    ($parent.filter.payment.free() == 1 && payment == 0) 
                    || ($parent.filter.payment.paid() == 1 && payment == 1) 
                ) && (
                    ($parent.filter.moderator.yours() == 1 && is_bind_to_you == 1)
                   || ($parent.filter.moderator.notYours() == 1 && is_bind_to_you == 0)
                   || ($parent.filter.moderator.notBind() == 1 && moderator == null)
                ) && (
                    ($parent.filter.status.notPayed() == 1 && commonStatus == "notPayed")
                   || ($parent.filter.status.notModerated() == 1 && commonStatus == "notModerated")
                   || ($parent.filter.status.moderated() == 1 && commonStatus == "moderated")
                )
            -->
            <div style="cursor: pointer; width: 500px; border: 1px black solid;" data-bind="click: $parent.clickBid, attr: {onmouseover: 'this.style.backgroundColor = \'' + mouseOverColor + '\'', onmouseout: 'this.style.backgroundColor = \'' + mouseOutColor + '\''}, style: {'background': mouseOutColor}">
                <table>
                    <tr>
                        <td style="height: 25px; width: 480px; font-size: 14px;"><b><span data-bind="text: header"></span></b></td>
                        <td style="text-align: right; width: 20px;">
                            <!--ko if: payment == 1-->
                            <span style="font-size: 16px;">$</span>
                            <!--/ko-->
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" data-bind="text: common.substr(0, 200) + (common.length > 200 ? '...' : '')" style="font-size: 12px"></td>
                    </tr>
                    <tr>
                        <td style="font-size: 12px; padding-top: 10px;">
                            <b>Модератор:</b> <span data-bind="text: moderator || '-'"></span><br>
                            <b>Время публикации:</b> <span data-bind="text: publish_time || '-'"></span>
                        </td>                        
                    </tr>
                </table>
            </div>
            <div style="height: 10px;"></div>
            <!--/ko-->
        </div>
    </div>

    <div style="width: 280px; position: absolute; top: 0px; left: 520px; text-align: center; font-size: 12px;">
        <table align="center" style="text-align: left; width: 100%;">
            <tr>
                <th>
                    Показывать:
                </th>
            </tr>
            <tr>
                <td style="padding-left: 10px;">
                    <input type="checkbox" data-bind="checked: filter.payment.paid">Платные $<br>
                    <input type="checkbox" data-bind="checked: filter.payment.free">Бесплатные
                </td>
            </tr>
            <tr><td style="height: 10px;"></td></tr>
            <tr>
                <th>
                    По модераторству:
                </th>
            </tr>
            <tr>
                <td style="padding-left: 10px;">
                    <input type="checkbox" data-bind="checked: filter.moderator.yours">Свои<br>
                    <input type="checkbox" data-bind="checked: filter.moderator.notYours">Чужие<br>
                    <input type="checkbox" data-bind="checked: filter.moderator.notBind">Свободные
                </td>
            </tr>
            <tr><td style="height: 10px;"></td></tr>
            <tr>
                <th> 
                    По статусу:
                </th>
            </tr>
            <tr>
                <td style="padding-left: 10px;">
                    <input type="checkbox" data-bind="checked: filter.status.notPayed">Не оплаченные <span style="width: 10px; height: 10px; background-color: #bbbbbb; display: inline-table"></span><br>
                    <input type="checkbox" data-bind="checked: filter.status.notModerated">Модерация не пройдена <span style="width: 10px; height: 10px; background-color: #EEB422; display: inline-table"></span><br>
                    <input type="checkbox" data-bind="checked: filter.status.moderated">Модерация пройдена <span style="width: 10px; height: 10px; background-color: #32CD32; display: inline-table"></span>
                </td>
            </tr>
        </table>
    </div>
</div>