<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>

  <connectionStrings>
    <add name="WebApi2BookDb" providerName="System.Data.SqlClient" connectionString="Data Source=WE-04;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"/>
  </connectionStrings>

  <appSettings>
  </appSettings>


</configuration>