.hoverIcon:hover{
	-moz-transform: scale(1,1);
	-webkit-transform: scale(1,1);
	transform: scale(1,1);
	-webkit-animation-name: burst2;
	-moz-animation-name: burst2;
	-ms-animation-name: burst2;
	-o-animation-name: burst2;
	animation-name: burst2;
	-webkit-animation-duration: .4s;
	-moz-animation-duration: .4s;
	-ms-animation-duration: .4s;
	-o-animation-duration: .4s;
	animation-duration: .4s;
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 40px 38px !important;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.hrefWrapperDarkSlateBlue:hover{
	color: DarkSlateBlue;
	/*font-weight: bold;*/ 
}

.hoverTextUnderline:hover{
	text-decoration: underline;
}

.hoverBlock:hover{
	color:white;
	background: orange;
}
