.styled-select {
	float:left;
	
   width: 247px;
   height: 34px;
   overflow: hidden;
   background: url(images/new_arrow.jpg) no-repeat right;
   border: 1px solid #ccc;
   margin: 0.0px 3.0px 0.0px 0.0px;
}
   
.styled-select select {
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	color: #747474;
	background:transparent;
   width: 247px;
   padding: 5px;
   float:left;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
}

.logotypePath{
    padding: 0.0px 0.0px 0.0px 10.0px;
    text-align: left;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: #747474;
    min-width: 32.0px;
    position: relative;
    float: left;
    position: relative;
    width: 164px;
    height:37px;
    margin: -10.0px 0.0px 0.0px 0.0px;
}
.logoSelect{
    background: url(../images/logoSelect.jpg) no-repeat;
    min-height: 24.0px;
    cursor:pointer;
    border:none;
    width:32px;
    height:32px;
    position: relative;
    float: left;
    margin: -8px 0.0px 0.0px -35px;
}