<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="System.Data.SQLite" invariant="System.Data.SQLite" description="Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
      <!--<remove invariant="System.Data.SQLite" />
      <add name="System.Data.SQLite" invariant="System.Data.SQLite" description="Data Provider for SQLite" type="System.Data.SQLite.SQLiteProviderServices, System.Data.SQLite.Linq, Version=2.0.88.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />-->
      <!--<providers>
        <provider invariantName="System.Data.SQLite" type="System.Data.SQLite.SQLiteProviderServices, System.Data.SQLite.Linq, Version=2.0.88.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
      </providers>-->
    </DbProviderFactories>
  </system.data>

  <connectionStrings>
    <remove name="RONI_DE"/>
    <!--<add name="RONI_DE" connectionString="Server=192.168.102.21:1521;Database=RONI_DE;UserID=VUDATA;Password=guru" providerName="System.Data.OracleClient" />-->
    <add name="RONI_DE" connectionString="Server=192.168.102.21:1521;Data Source=RONI_DE;Persist Security Info=True;User ID=VUDATA;Password=guru;Pooling=True;Min Pool Size=1;Max Pool Size=25;Enlist=false" providerName="System.Data.OracleClient" />

    <remove name="RONI"/>
    <add name="RONI" connectionString="Server=192.168.102.21:1521;Data Source=RONI;Persist Security Info=True;User ID=VUDATA;Password=guru;Pooling=True;Min Pool Size=1;Max Pool Size=25;Enlist=false" providerName="System.Data.OracleClient" />

    <remove name="main"/>
    <add name="main" connectionString="Data Source=.\dean.db3;Persist Security Info=True;Pooling=True;Min Pool Size=1;Max Pool Size=25;Enlist=false" providerName="System.Data.SQLite" />

    <!--<remove name="main"/>
    <add name="main" connectionString="Data Source=.\dean.db3" providerName="System.Data.SQLite" />-->
  </connectionStrings>


</configuration>