@media screen and (max-width: 1200px) {
	
	.header_layer_37{left:30;}
	.header_mybrandwire_gmail_com{left:50;}
	.header_layer_54{left:200;	}
	.header_mybrandwire{left:222;}
	.header_layer_32{left:777}
	.header_register{left:805}
	.header_layer_25_copy{left:891}
	.header_layer_25_copy_2{left:774}
	.header_layer_25_copy_3{left:969}
	.header_layer_31{left:900}
	.header_login{left:922}
	.header_layer_36_copy,.header_layer_30{width:1000}
	.header_layer_1-holder {width: 970;padding: 1.0px 0.0px 0.0px 35.0px;}
	.header_wrapper1 {width: 940;margin: 31.0px 0.0px 0.0px 41.0px;}
	.search1{margin-left:141;}
	.header_rss{left:659;}
	.header_twitter_v2{left:692;}
	.header_vkontacte{margin-left:5;}
	.header_facebook{margin-left:305;}

}
