@media screen and (max-width: 1200px) {
	.slide_show{padding: 32.0px 4.0px 3.0px 474.0px; left:-7;}
	.group_6{left:8;}
	.c_wrapper15{margin-left:0}
	.c_wrapper16{left:-10}
	.layer_0_copy-holder{width:875}
	.news{margin: 60.0px 0.0px 0.0px 5.0px;}
	
}
