
#login-box {
	width:333px;
	height: 352px;
	padding: 58px 76px 0 76px;
	color: #ebebeb;
	font: 12px Arial, Helvetica, sans-serif;
	background: url(images/login-box-backg.png) no-repeat left top;
}

#login-box img {
	border:none;
}

#login-box h2 {
	padding:0;
	margin:0;
	color: #ebebeb;
	font: bold 44px "Calibri", Arial;
}



.form-login  {
	width: 205px;
	padding: 10px 4px 6px 3px;
	border: 1px solid #0d2c52;
	background-color:#1e4f8a;
	font-size: 16px;
	color: #ebebeb;
}


.login-box-options  {
	clear:both;
	padding-left:87px;
	font-size: 11px;
}

.login-box-options a {
	color: #ebebeb;
	font-size: 11px;
}

.loginBtn{
	background: url(images/login-btn.png) no-repeat;
	width:100px;
	height:42px;
	border: none;
	margin-right: 10px;
	position: relative;
}

.cancelBtn{
	background: url(images/login_btn_cancel.png) no-repeat;
	width:100px;
	height:42px;
	border: none;
	margin-right: 10px;
	position: relative;
}


